{% extends 'layout.html' %}

{% block content %}
    <main id="main">
        <div class="form-wrapper">
            <h2>{{ title }}</h2>
            <br>
            <form method="POST" action="{{ handler_url }}">
                {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
                <div class="form-field">{{ form.username.label }} {{ form.username }}
                    {% if form.username.errors or username_error %}
                        <ul class="errors">
                            {% if username_error %}
                                <li>{{ username_error }}</li>
                            {% endif %}
                            {% for error in form.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.password.label }} {{ form.password }}
                    {% if form.password.errors or password_error %}
                        <ul class="errors">
                            {% if password_error %}
                                <li>{{ password_error }}</li>
                            {% endif %}
                            {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <button>{{ form.submit.label.text }}</button>
            </form>
        </div>
    </main>
{% endblock %}
