/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
    background-color: #f1e0eb;
    color: #444444;
}

h1 {
    text-align: center;
    font-weight: bold;
}

#logo {
    width: 150px;
}

/* Navigation Styles */
nav {
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0;
    padding: 15px;
    background-color: #a34b86;
    text-align: center;
    color: white;
    overflow-y: auto; /* Enable vertical scrolling */
    direction: rtl; /* Ensures scroll bar is on left side of the page */
}

nav .heading {
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
}

nav ul {
    position: relative;
    overflow: auto;
    display: inline;
}

nav ul li a {
    display: block;
    color: #ffffff;
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;
    transition: 0.2s ease-in;
    direction: ltr;
}

nav ul li a:hover {
    background-color: #ead1e1;
    color: #000000;
}

#nav-footer {
    font-size: 0.8em;
    margin-bottom: 20px;
    word-wrap: break-word;
}

/* Header Styles */
#header {
    padding: 40px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    color: black;
    box-sizing: border-box;
    background: #cf97bc url(https://img.icons8.com/external-victoruler-solid-victoruler/64/FFFFFF/external-stars-christmas-victoruler-solid-victoruler.png);
    background-repeat: round;
}


.copyright {
    font-size: 1rem;
    color: black;
    padding-top: 20px;
}

/* Main Content Styles */
#content-2 {
    height: 100vh;
    margin-right: 20%; /* Assuming the navbar width is 20% */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

#container {
    width: 100%;
    display: flex;
    justify-content: center; /* Center content horizontally */
}

#main {
    width: 100%;
    max-width: 70%;
    margin-top: 20px;
    padding: 10px;
    color: #717171;
    line-height: 25px;
    display: flex;
    justify-content: center;
}

/* Search Box Styles */
.search-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;

}

.search-input {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1em;
    flex: 1;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #a34b86;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    border-radius: 4px;
}

.search-button:hover {
    background-color: #473080;

}

/* Podcast Grid Styles */
#podcast-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin: 20px auto;
    max-width: 80%;

}

.podcast-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.podcast-item:hover {
    transform: translateY(-5px);
    background: #cf97bc url(https://img.icons8.com/external-victoruler-solid-victoruler/64/FFFFFF/external-stars-christmas-victoruler-solid-victoruler.png);
    background-repeat: round;

}

/*.podcast-item:hover .podcast-info h3 {*/
/*    color: white; !* Change text color to white on hover *!*/
/*}*/

/*.podcast-item:hover .podcast-info p{*/
/*    color: white;*/
/*}*/
.podcast-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd;
    padding: 5px;
}

.podcast-info {
    padding: 10px 0;
}

.podcast-info h3 {
    font-size: 1.1em;
    margin: 5px;
    color: black;
}


.podcast-info p {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
}


/* Podcast List Styles in Catalogue */
.podcast-list {
    display: flex;
    align-items: center;
    gap: 15px; /* Space between image and text */
    padding: 10px;
    background-color: white;
    color: #333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 15px;
}

.podcast-list:hover {
    background-color: #883f70;
    color: white;
}

.podcast-list img {
    width: 150px;
    height: auto;
}

.podcast-list span {
    font-size: 1.2em;
    font-weight: bold;
}

/* Description Styles in podcastDescription */
.description {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}


.description h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.description p {
    font-size: 1em;
    margin: 10px 0;
    color: #555;
}

.description p i {
    font-weight: bold;
    color: #333;
}

.description img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description table {
    color: black;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

.description th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.description th {
    text-align: center;
}

.description tr:nth-child(even) {
    background-color: #f2f2f2;
}

.description tr:hover {
    background-color: #a34b86;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.navigation-button {
    background-color: #a34b86;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.navigation-button:hover {
    background-color: #8b3a70;
}

/* Pagination styles in Catalogue */
.pagination {
    display: inline-block;
    margin-top: 20px;
}

.pagination a, .pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}



.pagination a.active {
    background-color: #a34b86;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #dbb1cd;
    border-radius: 5px;
}

.pagination span {
    padding: 8px 16px;
    text-decoration: none;
    background-color: transparent;
    cursor: default;
}


.pagination-filter {
    display: inline-block;
}

.pagination-filter a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination-filter a.active {
    background-color: #d161ac;
    color: white;
    border-radius: 5px;
}

.pagination-filter a:hover:not(.active) {
    background-color: #dbb1cd;
    border-radius: 5px;
}

/* Pagination styles in Search */
.pagination-two {
    display: inline-block;
    margin-top: 20px;
}

.pagination-two a, .pagination-two span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination-two a, .pagination-two span {
    background-color: #a34b86;
    color: white;
    border-radius: 5px;
}

.pagination-two a.active {
     background-color: #dbb1cd;
    border-radius: 5px;
}

.pagination-two a:hover:not(.active) {
    background-color: white;
    color: #a34b86;
    border-radius: 5px;
}

.pagination-two span {
    padding: 8px 16px;
    text-decoration: none;
    background-color: transparent;
    cursor: default;
}


.pagination-filter {
    display: inline-block;
}

.pagination-filter a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination-filter a.active {
    background-color: #d161ac;
    color: white;
    border-radius: 3px;
}

.pagination-filter a:hover:not(.active) {
    background-color: #dbb1cd;
    border-radius: 5px;
}


/* Sub-navigation Bar Styles in Navbar */
nav .sub-navbar ul a {
    font-size: 0.8em;
}

.dropdown {
    overflow: hidden;
    background-color: #a34b86;
}


button {
    border: none;
    outline: none;
    text-decoration: none;
    color: #ffffff;
    background-color: #a34b86;
    overflow: auto;
    border-radius: 10px;
    transition: 0.5s ease-in;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-size: 0.99rem;
    left: 10%;
    right: 10%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
    overflow-y: scroll;
    max-height: 380px;
    color: #a34b86;
    background-color: #ffffff;
    direction: ltr;
}


.dropdown-content a {
    float: none;
    margin: 0;
    color: #a34b86;
    background-color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #a34b86;
    color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#category-header {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    background-color: #ffffff;
    color: #a34b86;
    padding: 15px;
    border-radius: 10px;
    border-style: dashed;
    border-color: #9176d6;
}

/* Form styles in credential page */
.form-wrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}

.form-wrapper h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

.form-field input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.form-field ul.errors {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0;
    color: #d9534f;
    font-size: 0.9em;
}

.form-field ul.errors li {
    margin: 0;
}

.form-wrapper button {
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin: 15px auto;
    font-size: 1em;
    background-color: #883f70;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-wrapper button:hover {
    background-color: #473080;
}

.register-link {
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color: #0056b3;
    transition: color 0.2s ease-in-out;
}

.register-link:hover {
    color: #883f70;
    text-decoration: underline;
}


.custom-select {
    position: relative;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 100%;

}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    background-color: #a34b86;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    width: inherit;
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1mm outset rgba(211, 220, 5);
    border-color: transparent rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}


/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #a34b86;
    top: 100%;
    width: 100%;
    right: 0;
    z-index: 99;
    text-align: left;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: #fbc5d8;
    color: #ffffff;
    border-left: 1rem solid white;
    border-right: 1rem solid white;
    transition: border-left 450ms ease-in-out, padding-left 600ms ease-in-out,
                border-right 450ms ease-in-out, padding-right 600ms ease-in-out;
                /*border-top 300ms ease-in-out, padding-left 600ms ease-in-out;*/
}

.select-items .same-as-selected {
    background-color: white;
    color: #a34b86;
}

.select-items .same-as-selected:hover {
    background-color: #fbc5d8;
    color: white;
}

/* The grid container */
.grid-container {
    display: grid;
    grid-template-areas:
        'select-form'
        'search-form';
    grid-template-columns: 1fr; /* Ensure a single column that takes full width */
    grid-template-rows: auto auto; /* Adjust rows height based on content */
    width: 95%; /* Ensure grid-container itself is full-width */
    gap: 10px; /* Optional: gap between elements */
    padding: 2%;
    margin: 2%;
    background-color: #e5e5f7;
opacity: 0.8;
background-image:  linear-gradient(30deg, #b06ae1 12%, transparent 12.5%, transparent 87%, #b06ae1 87.5%, #b06ae1), linear-gradient(150deg, #b06ae1 12%, transparent 12.5%, transparent 87%, #b06ae1 87.5%, #b06ae1), linear-gradient(30deg, #b06ae1 12%, transparent 12.5%, transparent 87%, #b06ae1 87.5%, #b06ae1), linear-gradient(150deg, #b06ae1 12%, transparent 12.5%, transparent 87%, #b06ae1 87.5%, #b06ae1), linear-gradient(60deg, #b06ae177 25%, transparent 25.5%, transparent 75%, #b06ae177 75%, #b06ae177), linear-gradient(60deg, #b06ae177 25%, transparent 25.5%, transparent 75%, #b06ae177 75%, #b06ae177);
background-size: 20px 35px;
background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

/* Style the select-form */
.select-form {
    position: relative;
    grid-area: select-form;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* Include padding/border in the element's width */
}

/* Style the search-form */
.search-form {
    position: relative;
    grid-area: search-form;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* Include padding/border in the element's width */
}

.within-grid {
    background-color: rgba(246, 247, 253, 0.7);
    border-radius: 5%;
}

.search-page-background{
    padding: 40px;
    background-color: #ac8ed9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%237652ae' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");

}
.search-page-header{
    text-align: center;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


.search-pagination-container{
    position: relative;
    padding: 30px 20px 12px 20px;
    margin-left: 19px;
    width: 120px;
    border-radius: 4px;
    background-color: #ac8ed9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%237652ae' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}


/*html {*/
/*    cursor: url('data:image/svg+xml,url("data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>")');*/
/*}*/

/* Styles for playlist action buttons */
.sub-form-wrapper #add {
    background-color: #A67EB1;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    width: 100%;
}

.sub-form-wrapper #add:hover {
    background-color: #8B679A;
}

.sub-form-wrapper #remove {
    background-color: #D16A8D;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    width: 100%;
}

.sub-form-wrapper #remove:hover {
    background-color: #B15876;
}

/* Styles for flash messages */
.flash-message {
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

.flash-success {
    background-color: #d4edda;
    color: #155724;
}

.flash-error {
    background-color: #fff3cd;
    color: #856404;
}

/* Styling for the review section */
.review-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-section ul {
    list-style-type: none;
    padding: 0;
    font-size: 0.9em;
}

.review-section li {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.review-section i {
    font-weight: bold;
    color: #777;
}

.review-section p {
    color: #777;
    font-style: italic;
    text-align: center;
}

/* Styling for the review form */
.review-form-wrapper {
    margin-top: 30px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-form-wrapper form {
    display: flex;
    flex-direction: column;
}

.review-form-wrapper label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.review-form-wrapper input, select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
}

.review-form-wrapper button {
    padding: 10px 20px;
    background-color: #9b59b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;
}

.review-form-wrapper button:hover {
    background-color: #5e35b1;
}

.error-messages {
    color: red;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: 10px;
}

