{% extends 'layout.html' %}

{% block content %}
    <!-- Navigation Buttons for Podcast Pagination -->
    {% include 'description/navbuttons.html' %}
    <div id="container">
        <main id="main">
            <div class="description">
                <br>
                <h2>{{ podcast.title }}</h2>
                <p><img src="{{ podcast.image }}" alt="podcast image"></p>
                <p><i>Author:</i> {{ podcast.author.name }} </p>
                <p><i>Category:</i>
                    {% for category in podcast.categories %}
                        {{ category.name }}{% if not loop.last %} | {% endif %}
                    {% endfor %}
                </p>
                <p><i>Description:</i> {{ podcast.description }} </p>
                <p><i>Language:</i> {{ podcast.language }}</p>
                <p><i>Website:</i> <a href="{{ podcast.website }}" target="_blank">{{ podcast.website }}</a></p>
                <p><i>Episodes:</i></p>
                <!-- Episodes List -->
                {% include 'description/episodesList.html' %}
                <hr style="border: none; border-top: 1px solid #a34b86; width: 100%; margin: 20px auto;">
                <p><i>Reviews:</i></p>
                {% include'description/podcastReview.html' %}
            </div>
            <div class="form-wrapper">
                <form action="{{handler_url}}" method="post">
                    {{form.podcast_id}}
                    {{form.csrf_token}}
                    <br>
                    <div class ="form-field">{{form.review.label}} </br>{{form.review(size = 100, placeholder="Leave your review here!", class="textarea", cols="50", rows="10", wrap="hard")}}
                        <br>{{form.review(size = 100, class="radio", cols="50", rows="10", wrap="hard")}}</br>
                        {% if form.review.errors %}
                        <ul class="errors">
                            {% for error in form.review.errors %}
                            <li>{{error}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {{ form.submit }}
                </form>
            </div>
            <div>
                {% if reviews.podcast_id|length > 0 %}
                <div>
                <p>Reviews:</p><br>
                {% for review reviews.podcast_id %}
                <p>{{review.rating}}/5. {{review.content}}, by {{review.reviewer}} </p>
                {% endfor %}
                    </div>
                {% endif %}
            </div>
        </main>
    </div>
{% endblock %}
