<div class="review-section">
    {% if podcast_reviews %}
        <ul>
            {% for review in podcast_reviews %}
                <li>
                    <i>Rating:</i> {{ review.rating }}<br>
                    <i>Comment:</i> {{ review.content }}<br>
                    <i>Reviewer:</i> {{ review.reviewer.username }}
                </li>
            {% endfor %}
        </ul>
        <i>Average Rating:</i> {{ average_rating}}
    {% else %}
        <p>No reviews yet.</p>
    {% endif %}
</div>
<div class="review-form-wrapper">
    <form method="POST" action="{{ url_for('description_bp.add_review') }}">
        <input type="hidden" name="podcast_id" value="{{ podcast.id }}">
        <label for="rating">Rating (1-5):</label>
        <select name="rating" id="rating" required>
            {% for i in range(5, 0, -1) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <label for="description">Comment:</label>
        <textarea name="description" id="description" rows="3" required></textarea>
        <button type="submit">Submit Review</button>
    </form>
</div>