<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podcast Catalogue</title>
    <link
            rel="stylesheet"
            href="../static/css/main.css"
    />
    <script src="https://kit.fontawesome.com/b18330247f.js" crossorigin="anonymous"></script>
</head>

<body>
<div id="body">
    {% include'navbar.html' %}
    <div id="content-2">
        {% include 'header.html' %}

        <!-- Pagination -->
        <div class="pagination">
            {% if has_previous %}
                <a href="{{ url_for('browse_bp.show_podcasts', page_number=previous_page) }}">&laquo;</a>
            {% endif %}

            {% if current_page > 2 %}
                <a href="{{ url_for('browse_bp.show_podcasts', page_number=1) }}">1</a>
                <span>...</span>
            {% endif %}

            {% if has_previous %}
                <a href="{{ url_for('browse_bp.show_podcasts', page_number=previous_page) }}">{{ previous_page }}</a>
            {% endif %}

            <a href="#" class="active">{{ current_page }}</a>

            {% if has_next %}
                <a href="{{ url_for('browse_bp.show_podcasts', page_number=next_page) }}">{{ next_page }}</a>
            {% endif %}

            {% if current_page < last_page - 1 %}
                <span>...</span>
                <a href="{{ url_for('browse_bp.show_podcasts', page_number=last_page) }}">{{ last_page }}</a>
            {% endif %}

            {% if has_next %}
                <a href="{{ url_for('browse_bp.show_podcasts', page_number=next_page) }}">&raquo;</a>
            {% endif %}
        </div>

        <main id="main">
            <div id="podcast">
                <ul>
                    {% for podcast in podcasts %}
                        <li>
                            <a href="">
                                <div class="podcast-list">
                                    <img src="{{ podcast.image }}"
                                         alt="podcast image">
                                    <span>{{ podcast.title }}</span>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </main>
    </div>
</div>
</body>
</html>