{% if episodes %}
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Audio</th>
            <th>Published Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td><a href="{{ episode.url }}" target="_blank">Download</a></td>
                <td>{{ episode.date }}</td>
                <td>{% include 'playlistActions.html' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Episode Pagination Controls -->
    <div class="navigation-buttons">
        <div class="pagination">
            {% if prev_episode_page %}
                <a href="{{ url_for('description_bp.show_description', podcast_id=podcast.id, episode_page=prev_episode_page) }}">Previous
                    Episodes</a>
            {% endif %}
            <span>Page {{ episode_page }}</span>
            {% if next_episode_page %}
                <a href="{{ url_for('description_bp.show_description', podcast_id=podcast.id, episode_page=next_episode_page) }}">Next
                    Episodes</a>
            {% endif %}
        </div>
    </div>
{% else %}
    <p style="align-items: center">No episodes available.</p>
{% endif %}
