<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Podcast Library</title>
    <link
            rel="stylesheet"
            href="../static/css/main.css"
    />
    <link
            rel="icon"
            href="../static/favicon.ico"
    />
    <script src="https://kit.fontawesome.com/b18330247f.js" crossorigin="anonymous"></script>
</head>

<body>
<div id="body">
    {% include 'navbar.html' %}
    <div id="content-2">
        {% include 'header.html' %}
        <div id="container">
            <main id="main">
                <div class="search-container">
                    <input type="text" placeholder="Search Podcast..." class="search-input">
                    <button class="search-button">Search</button>
                </div>
            </main>
        </div>
        <hr style="border: none; border-top: 1px solid #a34b86; width: 80%; margin: 20px auto;">
        <div class=""><h2>Editor's Pick: </h2></div>
        <div id="podcast-grid">
            {% for podcast in list_of_podcasts %}
                <div class="podcast-item">
                    <a href="{{ url_for('description_bp.show_description', podcast_id=podcast.id) }}">
                        <img src="{{ podcast.image_url }}"
                             alt="podcast image">
                        <div class="podcast-info">
                            <h3>{{ podcast.title }}</h3>
                            <p>{{ podcast.author_name }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>