<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Podcast Library</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" type="text/css">
    <script src="https://kit.fontawesome.com/b18330247f.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="body">
    <!-- Include navigation partial. -->
    {% include 'navbar.html' %}
    <div id="content-2">
        <!-- Include header partial. -->
        {% include 'header.html' %}
        <!-- Main content block to be supplied by page. -->
        {% block content %} {% endblock %}
    </div>
</div>
</body>
</html>