<nav>
    <img id="logo" src="../static/logo.png" alt="a microphone logo"/>
    <div class="heading">Pod Library</div>
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('home_bp.home') }}"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href=""><i class="fa-solid fa-podcast"></i> Podcasts</a></li>
            <li><a href="#Playlists"><i class="fa-solid fa-headphones"></i> My Playlists</a></li>
        </ul>
    </div>
    <div id="nav-footer">
        CS235 xli910 | stud002 | stud003
    </div>
</nav>