<nav>
    <div id="nav-footer">
        © xli910 | owak638 | vcha997
    </div>
    <img id="logo" src="{{ url_for('static', filename='logo.png') }}" alt="a microphone logo"/>
    <div class="heading">Pod Library</div>
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('home_bp.home') }}"><i class="fa-solid fa-house"></i> Home</a></li>
            <li>
                <a href="{{ url_for('browse_bp.show_podcasts', page_number=1) }}">
                    <i class="fa-solid fa-podcast"></i> Podcasts
                </a>
            </li>
        </ul>
    </div>
    <div class="sub-navbar">
        <div class="dropdown">
            <button class="heading" style="font-size: 1rem">Browse Categories <i
                    class="fa-sharp fa-solid fa-angle-down"></i></button>
            <ul class="dropdown-content">
                {% for category in categories %}
                    <li>
                        <a href="{{ url_for('browse_bp.show_podcasts', page_number=1, category=category.name) }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% if category %}
                <div id="category-header">Category: {{ category }}</div>
            {% endif %}
        </div>
    </div>
</nav>
