{% extends 'layout.html' %}

{% block content %}
    <!-- Navigation Buttons for Podcast Pagination -->
    {% include 'navbuttons.html' %}
    <div id="container">
        <main id="main">
            <div class="description">
                <br>
                <h2>{{ podcast.title }}</h2>
                <p><img src="{{ podcast.image }}" alt="podcast image"></p>
                <p><i>Author:</i> {{ podcast.author.name }} </p>
                <p><i>Category:</i>
                    {% for category in podcast.categories %}
                        {{ category.name }}{% if not loop.last %} | {% endif %}
                    {% endfor %}
                </p>
                <p><i>Description:</i> {{ podcast.description }} </p>
                <p><i>Language:</i> {{ podcast.language }}</p>
                <p><i>Website:</i> <a href="{{ podcast.website }}" target="_blank">{{ podcast.website }}</a></p>
                <p><i>Episodes:</i></p>
                <!-- Episodes List -->
                {% include 'episodesList.html' %}
            </div>
        </main>
    </div>
{% endblock %}
