<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Category(s)</th>
        <th>Author(s)</th>
    </tr>
    </thead>
    <tbody>
    {% for podcast in results %}
        <tr>
            <td>{{ podcast.id }}</td>
            <td>
                <a href="{{ url_for('description_bp.show_description', podcast_id=podcast.id) }}">{{ podcast.title }}</a>
            </td>
            <td>
                <ul>
                    {% for category in podcast.categories %}
                    {{ category.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                </ul>
            </td>
            <td>{{ podcast.author.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


