{% extends 'layout.html' %}

{% block content %}
    <div style="
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; width: 100%; height:100%; overflow-y: scroll;">
        <div class="grid-container">
            <form action="/results" method="GET">
                    <div class="select-form">
                        <div class="custom-select">
                            <label for="a">
                                <select name="field" field="field">
                                    <option value="" disabled selected="" style="text-align:center;">Search By:</option>
                                    <option value="title" {% if field == 'title' %}selected=true{% endif %}>Title
                                    </option>
                                    <option value="author" {% if field == 'author' %}selected=true{% endif %}>Author
                                    </option>
                                    <option value="category" {% if field == 'category' %}selected="true"{% endif %}>
                                        Category
                                    </option>
                                </select>
                            </label>
                        </div>
                        {% include 'select.html' %}
                    </div>
                    <div class="search-form">
                        <div class="search-container">
                            <input type="text" id="query" name="q" placeholder="Search Podcast..." value="{{ query }}"
                                   class="search-input">
                            <button type="submit" class="search-button">Search</button>
                        </div>
                    </div>
            </form>
        </div>
        {% if results and query and field %}
            <h2 class="search-page-header">Podcasts Matching "{{ query }}" in {{ field }}</h2>
            <hr style="border: none; border-top: 1px solid #a34b86; width: 80%; margin: 20px auto;">
            <br>
            <!-- Pagination Section -->
            <div style="align-content: center;"> {% include 'paginationSearch.html' %}</div>
            <div class="description" style="overflow-x: scroll; display: flex; align-items: center; ">
                <br>
                <br>
                {% include 'podcastList.html' %}
            </div>
        {% elif not query and not field %}
            <!-- Optionally, show a message or nothing if query and field are both empty -->
            <h2 class="search-page-header">Please enter a query and select a field to search.</h2>
            <hr class="line">
        {% else %}
            <h2 class="search-page-header">No podcasts available.</h2>
            <hr class="line">
        {% endif %}
    </div>

{% endblock %}


